html {
  box-sizing: border-box;
}

body {
	font-weight: 400;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 24px;
	color: #000000;
  font-size: 13px;
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #f3f7f8;
  min-height: 320px;
  margin-bottom: 60px;
}

.header__top {
  background-color: #293449;
  height: 42px;
  margin-bottom: 45px;
}

.header__top .container {
  display: flex;
}

.logo {
  display: inline-block;
  background: #ee3643 url("../img/logo.png") no-repeat 50% 13px;
  width: 220px;
  height: 47px;
  text-align: center;
  vertical-align: middle;
  padding-top: 13px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header__logo {
  text-align: center;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.options-form {
  margin-left: 47px;
  margin-top: 10px;
}

.search-input {
  background: none;
  border: none;
  color: #000000;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.search-input + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.search-input + label::before {
  content: '';
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 17px;
  opacity: 0.3;
  left: -192px;
  top: 1px;
}

.search-input:hover + label::before {
  opacity: 1;
}

.search-input:focus {
  background-color: #ffffff;
}

.search-input:focus + label::before {
  opacity: 1;
  background-image: url("../img/icon-search-focus.png");
}

.search-input::-webkit-input-placeholder { 
  color: #ffffff;
}

.header__options {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin-left: auto;
}

.options-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  min-height: 42px;
  align-items: center;
}

.options-list__bookmarks-link {
  position: relative;
  margin-right: 28px;
}

.options-list__bookmarks-link::before {
  content: '';
  background-image: url("../img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  left: -27px;
}

.options-list__cart-link {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 30px;
}

.options-list__cart-link::before {
  content: '';
  background-image: url("../img/icon-cart.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  left: 18px;
}

.options-list__bookmarks-link,
.options-list__cart-link,
.options-list__issue-link {
  color: #ffffff;
  
}

.options-list__issue-link {
  background-color: #63a63e;
  padding: 12px 21px;
}

.options-list__bookmarks-link:hover::before,
.options-list__bookmarks-link:focus::before,
.options-list__cart-link:hover::before,
.options-list__cart-link:focus::before {
  opacity: 1;
}

.options-list__bookmarks-link:active,
.options-list__cart-link:active{
  opacity: 0.6;
}

.options-list__bookmarks-link:active::before,
.options-list__cart-link:active::before,
.options-list__issue-link:active{
  opacity: 0.5;
}

.options-list__issue-link:hover,
.options-list__issue-link:focus {
  background-color: #5fbb2d;
}

.options-list__issue-link:active {
  background-color: #518534;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.header__dscr {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  margin-left: 52px;
  width: 197px;
  margin-top: 3px;
}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.header-contacts__number {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  position: relative;
  border: solid 3px #ffffff;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 69px;
  margin-bottom: 4px;
}

.header-contacts__number::before {
  content: '';
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 10px;
}

.header-contacts__address {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.btn-login,
.btn-registration {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: inline-block;
}

.btn-login {
  position: relative;
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 46px;
  padding-right: 27px;
}

.btn-registration {
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 5px;
} 

.btn-login::before {
  content: '';
  position: absolute;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  height: 17px;
  width: 20px;
  left: 13px;
  top: 15px;
}

.btn-login:hover ,
.btn-login:focus{
  color: #e9292a;
}

.btn-login:hover::before,
.btn-login:focus::before{
  background-image: url("../img/icon-login-hover.svg");
}

.btn-login:active::before {
  background-image: url("../img/icon-login.svg");
}

.btn-login:active .btn-login__entry {
  color: #000000;
  opacity: 0.3;
}

.btn-registration:hover,
.btn-registration:focus{
  color: #ee3643;
}

.btn-registration:active {
  color: #000000;
  opacity: 0.3;
}

.menu {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.menu-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-list__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: block;
  padding: 20px 30px 23px;
  vertical-align: middle;
}

.menu-list__item:first-child  .menu-list__link {
  padding-left: 52px;
}

.menu-list__item:last-child  .menu-list__link {
  padding-right: 61px;
}


.menu-list__link:hover,
.menu-list__link:focus {
  background-color: #293449;
}

.menu-list__link:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.top__lists {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.top__list-left {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  min-height: 410px;
  margin-right: 20px;
}

.top__list-right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 410px;
}

.top-item {
  width: 300px;
  height: 123px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 20px; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top__list-left .top-item:first-child {
  background-color: #ffbf47;
  margin-right: 20px;
  margin-bottom: 20px;
}

.top__list-left .top-item:nth-child(2) {
  background-color: #3bbce3;
}

.top-slider {
  background-color: #000000;
  background-image: url("../img/top-image.jpg");
  background-repeat: no-repeat;
  width: 620px;
  min-height: 266px;
  margin-right: 20px;
}

.top__list-right .top-item:first-child {
  background-color: #dc91d8;
  margin-right: 0;
}

.top-item:nth-child(2) {
  background-color: #8ed78f;
  margin-right: 0;
}

.top-item:last-child {
  background-color: #ffc047;
  margin-right: 0;
}

.top__subtitle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.top-item__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline-block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 11px;
}

.top-item__link:hover,
.top-item__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-item__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.top__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.top-slider__descr {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 113px;
}

.top__slider-btn {
  width: 195px;
  height: 38px;
}

.title-section {
  background-color: #f9f5f0;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.title-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-height: 89px;
  padding-left: 30px;
  padding-top: 27px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.popular-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.good {
  border: 1px solid #e4e4e4;
  width: 220px;
  min-height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.good:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.good__name {
  font-size: 18px;
  font-weight: 700;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 20px;
	color: #000000;
}

.good__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.price-btn {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
}

.popular-brands__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.popular-brands__item {
  border: 1px solid #e7e7e7;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-brands__item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands__item:hover,
.popular-brands__item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands__item:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  background-color: #f4f7f9;
  margin-bottom: 80px;
  padding-top: 60px;
}

.services__top {
  width: 400px;
  margin-bottom: 65px;
}

.services__top-text {
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.services__subtitle {
  margin-bottom: 30px;
}

.services__inner {
  display: flex;
  justify-content: space-between;
}

.services__inner-list {
  list-style: none;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 80px;

}

.services__inner-btn {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  padding: 17px 143px 17px 23px;
  background-color: #32425c;
  border: none;
  
}

.services__inner-descr {
  width: 280px;
}

.services__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
  margin: 0;
  padding: 0;
}

.services__inner-text {
  margin: 0;
  padding: 0;
}

.about {
  margin-bottom: 86px;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about__descr {
  width: 519px;
}

.about__subtitle {
  margin-bottom: 25px;
}

.about__descr-top {
  margin: 0;
  margin-bottom: 25px;
}

.about__descr-bottom {
  margin: 0;
  margin-bottom: 20px;
}


.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 34px;
  margin-bottom: 35px;
}

.about__item {
  list-style: none;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  position: relative;
}

.about__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: absolute;
  top: 9px;
  left: -36px;
}

.btn {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  height: 38px;
}

.descr-btn {
  padding: 10px 40px;
}

.contacts {
  width: 300px;
}

.contacts__subtitle {
  margin-bottom: 25px;
}

.contacts__info {
  margin: 0;
  margin-bottom: 30px;
}

.map {
  margin-bottom: 32px;
}

.contacts-btn {
  width: 300px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37; 
}

.btn:active {
  background-color: #ba2732;
}

.footer {
  background-color: #32425c;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer__logo-link {
  padding: 20px 42px 18px;
  background-color: #ee3643;
  display: inline-block;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 28px;
}

.footer__logo-text {
  margin: 0;
  padding: 0;
}

.footer-nav,
.footer-products {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
}

.footer-nav {
  min-width: 550px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 32px;
}

.footer-nav__link{
  color: #f1f5f7;
}

.footer-products {
  display: flex;
  width: 525px;
  justify-content: space-between;
  margin-left: auto;
} 

.footer-products__link {
  color: #ffd180;
}

.footer-nav__link:hover,
.footer-nav__link:focus,
.footer-products__link:hover,
.footer-products__link:focus {
  text-decoration: underline;
}

.footer-nav__link:active,
.footer-products__link:active {
  opacity: 0.5;
}

.footer__bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer__bottom .container {
  display: flex;
  align-items: flex-start;
}

.footer__bottom-copyright {
  width: 230px;
  margin: 0;
  padding: 0;
  margin-right: 56px;
}

.social-icon {
  list-style: none;
  width: 132px;
  margin: 0;
  padding: 0;
  margin-left: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 120px;
}

.social-icon__link {
  background-color: #212a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
}


.social-icon__link:hover,
.social-icon__link:focus,
.social-icon__link:active  {
  background-color: #ee3643;
}

.footer__bottom-connect {
  width: 140px;
  margin-right: 47px;
}

.footer__bottom-develop {
  width: 100px;
}

.connect-link,
.develop-link {
  color: #ffd180;
}

.connect-link:hover,
.develop-link:hover,
.connect-link:focus,
.develop-link:focus {
  text-decoration: underline;
}

.connect-link:active,
.develop-link:active {
  color: #ee3643;
}


.write-popup {
  position: fixed;
  width: 620px;
  min-height: 430px;
  background-color: #ffffff;
  margin: 0 auto;
  border-top: 7px solid #ff5257;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  left: 50%;
  margin-left: -310px;
  bottom: 208px;
  padding-top: 37px;
  display: none;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 34px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 5px;
  background-color: #ff3342;
  top: 17px;
  left: 22px;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.write-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  min-height: 230px;
  margin-left: 80px;
  margin-top: 7px;
}

.write-popup__label {
  display: block;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  display: block;
}

.input-name {
  width: 220px;
  min-height: 70px;
}

.popup-input {
  border: 2px solid #dee3e4;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
	font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
  padding-left: 15px;
}

.popup-input::-webkit-input-placeholder { 
  color: #a9a9a9;
}

.popup-name_type_text {
  width: 220px;
  height: 38px;
}

.input-email {
  width: 220px;
  min-height: 70px;
  margin-bottom: 16px;
}

.popup-email_type_email {
  width: 220px;
  height: 38px;

}

.popup-textarea_type_textarea {
  resize: none;
  min-height: 114px;
  width: 460px;
  padding-top: 10px;
  margin-bottom: 31px;
}


.write-popup__bottom {
  background-color: #f4f4f4;
  min-height: 112px;
}

.write-btn {
  border: none;
  padding: 10px 200px;
  cursor: pointer;
  margin-left: 80px;
  margin-top: 37px;
}